h1 {
	width: 30%;
}

a {
	color: blue;
}

li {
	padding: 5px;
}

ul li ul {
	display: none;
}

#toggle {
	margin-left: 20%;
}

#add {
	margin-left: 20%;
}

#options {
	display: none;
}

#downloadLink {
	display: none;
	padding: 20px;
}